<div>
    <app-header></app-header>
    <div class="row wraper">
        <div class="col">
            <div class="container-uni-cycle">
                <div class="container">
                    <div class="title">KINGSONG S18</div>
                    <div class="description">
                        Electric Unicycle with <br />
                        air damping suspension
                    </div>
                    <div class="container-price">
                        <div class="del-price">$1399.00</div>
                        <div class="price">$1099.00</div>
                    </div>
                    <div class="container-button">
                        <button type="button">Buy Now</button>
                    </div>
                </div>
            </div>
            <!-- second section -->
            <div class="container-floadable">
                <div class="container">
                    <div class="title">INMOTION L8S</div>
                    <div class="description">
                        Foldable electric scooter<br />
                        250W motor waterproof
                    </div>
                    <div class="container-price-floadable">
                        <div class="price">$1799.00</div>
                    </div>
                    <div class="container-button">
                        <button type="button">Buy Now</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col container-inmotion">
            <div class="">
                <div class="container-fluid">
                    <div class="title">InMotion V8F</div>
                    <div class="description">
                        16-Inch electric unicycle<br />
                        with mobile app
                    </div>
                    <div class="container-price-floadable">
                        <div class="price">$2099.00</div>
                    </div>
                    <div class="container-button">
                        <button type="button">Buy Now</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <app-component-list></app-component-list>
</div>