<div class="mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="d-flex justify-content-center">
            <div class="d-flex">
                <img src="../../assets/images/Frame.png" alt="Frame">
                <div class="content"> 
                    <div class="list-title">
                        AUTHORIZED
                    </div>
                    <div class="list-category">
                        Distributor/dealer
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex justify-content-center">
            <div class="d-flex">
                <img src="../../assets/images/Group1089.png" alt="Frame">
                <div class="content"> 
                    <div class="list-title">
                        LOWEST COST
                    </div>
                    <div class="list-category">
                        Lowest price guarantee
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="d-flex justify-content-center">
            <div class="d-flex">
                <img src="../../assets/images/Group1090.png" alt="Frame">
                <div class="content"> 
                    <div class="list-title">
                        1 YEAR
                    </div>
                    <div class="list-category">
                        1 year complete warranty
                    </div>
                </div>
            </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="d-flex justify-content-center">
            <div class="d-flex">
                <img src="../../assets/images/Group1043.png" alt="Frame">
                <div class="content"> 
                    <div class="list-title">
                        MONEY BACK
                    </div>
                    <div class="list-category">
                        Easy free returns
                    </div>
                </div>
            </div>
            </div>
        </div>

    </div>
</div>